<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= article.title %></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <main>
            <div style="display: flex; flex-direction: column; gap: 2vmax">
                <div style="text-align: center"><%= article.title %></div>
                <div><%= article.article%></div>
            </div>
        </main>
    </body>
</html>
