<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include('./cardStyle.ejs') %>
    </head>
    <body>
        <% for(let i = 0; i < articles.length; i++){ %>
            <div id="card">
                <div id="blogTitle">
                    <%= articles[i].title %>
                </div>
                <div id="blogBody">
                    <%= articles[i].article %>
                </div>
            </div>
        <% } %>
    </body>
</html>
