<!DOCTYPE html>
<html lang="en">
    <head>
        <title>create new Article</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            *{
                padding: 0;
                margin: 0;
            }
            body,html{
                width: 100%;
                height: 100%;
                background-color: #080b21;
            }
            form{
                display: flex;
                flex-direction: column;
                width: 40%;
                margin: 10vh 0 0 30vw ;
            }
            button{
                width: fit-content;
                margin: 10px 0 0 auto;
                border: 1px solid black;
                border-radius: 5px;
                color: black;
                font-weight: 600;
                background-color: greenyellow;
                padding: 5px 5px 5px 5px;

            }
            input,textarea{
                padding: 10px;
                font-weight: 600;
                border-radius: 1px solid grey;
                resize: none;
                color: #fbfbfe;
                background-color: #42414d;
            }
            label{
                color: #fbfbfe;
                margin: 10px 0 10px 0;
            }
            button[type="submit"]:hover{
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <main>
            <form method="post" enctype="application/x-www-form-urlencoded">
                <label for="title">Title of the blog</label>
                <input type="text" id="title" name="title" placeholder="Type your title" spellcheck="true" required>
                    
                <label for="article">Enter your article</label>
                <textarea id="article" name="article" placeholder="Type your blog article" spellcheck="true" size="30"  rows="200" required></textarea>

                <label for="createdAt">Created at</label>
                <input type="date" id="createdAt" name="createdAt">

                <button type="submit" onclick=handleSubmit()>publish</button>
            </form>
        </main>
        <script>
            function handleSubmit(){
                let form = document.querySelector("form")
                let title = document.querySelector("#title").value
                form.action = `/blog/create/${title}`
                form.submit()
            }
        </script>
    </body>
    <script>
    document.addEventListener('DOMContentLoaded',()=>{
        let textArea = document.querySelector("#article");
        textArea.rows = Math.floor(window.innerHeight / 40);
    })
    </script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var currentDate = new Date().toISOString().split('T')[0];
            document.getElementById('createdAt').value = currentDate;
        });
    </script>
</html>
